*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(green 0%,green 130px,white 130px,white 100%);
}
.container{
    position:  relative;
    width: 1400px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: white ;
}